:root{
    /* Colors*/
    --black: #222831;
    --grey: #393e46;
    --blue: #00adb5;
    --white: #eeeeee;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
header{
    position: relative;
    z-index: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--black);
}
header .header-nav-menu{
    display: flex;
    justify-content: center;
}
header .header-nav-menu li{
    padding: 10px 0;
    list-style: none;   
}
header .header-nav-menu a{
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--white);
    text-decoration: none;
    
}
header .header-nav-menu  a:active, header .header-nav-menu  a:hover{
    font-weight: 500;
    color: var(--blue);
    border-bottom: 5px solid var(--blue);
}

main .main-presentation-container{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--black) 16.69%, var(--grey) 100%);
}
.main-presentation-container--me{
    position: relative;
}
.main-presentation-container--me h1{
    font-size: 2.6rem;
    font-weight: 550;
    letter-spacing: 10px;
    color: var(--white);
}
.main-presentation-container--me h2{
    margin-top: 5px;
    font-size: 1.8rem;
    font-weight:normal;
    color: var(--white);
}
.main-presentation-container--me img{
    position: absolute;
    left: calc(50% - 100px);
    top: 80px;
    width: 200px;
    border-radius: 50%;
}

.main-hello-container{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.main-hello-container--hello-there{
    width: 90%;
    text-align: center;
}
.main-hello-container--hello-there article{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6rem;
    color: var(--black);
}